body{
    background: linear-gradient( to right, #F9FAFB, #E0E7FF);
    font-family: 'Poppins', sans-serif;
}
#topic{
    color: #1E3A8A;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    background-color: #33477e !important;
}
.navbar-brand,
.nav-link,
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    color: white;
    margin: 8px;
}
.nav-link:hover {
    color: #95a2c4;
}
body.dark {
    background: #121212 !important;
    color: white !important;
}

body.dark .card {
    background-color: #1e1e1e !important;
    color: white !important;
}

body.dark .navbar,
body.dark .navbar.bg-body-tertiary {
    background-color: #222 !important;
}

body.dark a.nav-link,
body.dark a.dropdown-item {
    color: #f5f5f5 !important;
}

body.dark a.nav-link:hover,
body.dark a.dropdown-item:hover {
    color: #ccc !important;
}
body.dark  .dropdown-menu .dropdown-item{
    color: black !important;
}