{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherWear</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'home.css' %}" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet" />
</head>
<body>
    <h1 id="topic">WeatherWear⛅</h1>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">WeatherWear</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Preferences
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">🌍 Set Location & Style</a></li>
                <li><a class="dropdown-item" href="#">💌 Email Notifications</a></li>
                <li><a class="dropdown-item" href="#" onclick="document.body.classList.toggle('dark'); return false;" >🎨 Change Theme</a></li>
              </ul>

              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{#  card  #}
<div class="card-group">
  <div class="card mt-5 mx-5">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Update Weather</a>
    </div>
  </div>
  <div class="card mt-5 mx-5" style="height:400px">
    <img src="{%static 'assets/pinterest.svg'%}" class="card-img-top d-block mx-auto my-2" style="max-width:150px" alt="pinterest logo">
    <div class="card-body">
     <h5 class="card-title">Let Pinterest Pick Your Fit Today 🌦️📌</h5>
      <p class="card-text my-3">Need inspiration? See how others style their weather outfits on Pinterest!</p>
      <a href="#" class="btn btn-primary my-5">Show Me the Looks 👀</a>
    </div>
  </div>
</div>
</div>
</body>
</html>
